* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff23e;
  height: 100vh;
}

p {
  font-size: 10rem;
  line-height: 2rem;
  animation: beat 0.9s ease-in-out infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
